@model asp.net_mvc_event_manager.ViewModels.EventsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
<ul class="events voffset40">
    @foreach (var currentEvent in Model.UpcomingEvents)
    {
        <li>
            <div class="date">
                <div class="month">
                    @currentEvent.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @currentEvent.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @currentEvent.Artist.Name

                    @if (currentEvent.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }
                    @if (Model.ShowActions)
                    {
                        <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@currentEvent.ArtistId">Follow</button>
                    }
                </span>
                <span class="genre">
                    @currentEvent.Genre.Name
                </span>
                @if (Model.ShowActions && !currentEvent.IsCanceled)
                {
                    <button class="btn btn-default btn-sm pull-right js-toggle-attendance" data-event-id="@currentEvent.Id">Going?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { eventId: button.attr("data-event-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function () {
                    alert("Something failed!");
                })
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                .done(function () {
                    button.text("Following");
                })
                .fail(function () {
                    alert("Something failed!");
                })
            });
        });
    </script>
}