@model IEnumerable<asp.net_mvc_event_manager.Core.Models.Event>
@{
    ViewBag.Title = "My Upcoming Events";
}

<h1>My Upcoming Events</h1>
<ul class="events voffset40">
    @foreach (var currentEvent in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @currentEvent.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @currentEvent.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @currentEvent.Venue
                </span>
                <span class="genre">
                    @currentEvent.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Events", new { id = currentEvent.Id })">Edit</a> | 
                    <a href="#" class="js-cancel-event" data-event-id="@currentEvent.Id">Cancel</a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-event").click(function (e) {
                var link = $(e.target);

                bootbox.confirm({
                    message: "Are you sure you want to cancel this event?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {
                        $.ajax({
                            url: "/api/events/" + link.attr("data-event-id"),
                            method: "DELETE"
                        })
                        .done(function () {
                            link.parents("li").fadeOut(function () {
                                $(this).remove();
                            });
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                    }
                });

            });
        });
    </script>
}